<section>
  <div class="container-fluid status-part">
      <div class="row">
        <div class="col-6">
          <div class="my-breadcrumb">
            <ul>
              <li class="arrow"><i class="fas fa-greater-than"></i></li>
              <li class="text">My activities</li>
            </ul>
          </div>
        </div>
        <div class="col-6 text-right">
          <%= link_to new_activity_path, class: "btn btn-yellow" do %>
            <i class="fas fa-plus-circle"></i> Add new activity
          <% end %>
        </div>
      </div>

      <div class="row notice-row">
        <div class="col-12">
          <p class="notice"><%= notice %></p>
        </div>
      </div>
  </div>




  <div class="container-fluid content-part">
    <div class="row">

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Summary</h5>
            <p>Total activities time: <%= @total_hours %> hours <%= @total_minutes %> minutes</p>
            <p>Total calories burned: <%= @total_calories %></p>
            <p>Favorite activity: <%= @favorite_activity_type %></p>

            <div class="chart-title">Duration of activities in minutes per day in the last 30 days</div>
            <%= column_chart @minutes_data, height: "300px", colors: ["rgba(250, 222, 38, 0.6)"] %>

            <div class="chart-title">Calories burned in the last 30 days</div>
            <%= column_chart @calories_data, height: "300px", colors: ["rgba(250, 222, 38, 0.6)"] %>

          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Activities calendar</h5>
            <%= month_calendar(attribute: :start, events: @activities) do |date, activities| %>
              <p class="day-label"><%= date.day %></p>

              <% activities.each do |activity| %>
                  <%= link_to activity_path(activity.id), class: "calendar-activity-item" do %>
                    <%= activity.start.strftime("%H:%M") %>
                    <%= activity.activity_type.name %>
                    <%= activity.duration %> min
                  <% end %>
              <% end %>              

            <% end %>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

