<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body class="body-content">
    <div class="content-title-background">
      <%= render "shared/header" %>

      <div class="content-title">
        <h1>Activities</h2>
      </div>
    </div>
    

    <section id="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              calendar
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              info
            </div>
          </div>
        </div>
      </div>
    </section>

    <% if false %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>


    </div>
    
</html>
